.slogan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #29B363;
    z-index: 50;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 2rem;
}

.small-slogan {
    margin: 0;
    color: #FFFFFF;
    font-size: small;
}